._autoupdate_alert {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0,0,0, .7);
    transition: opacity .25s ease;
}
._autoupdate_alert_inner {
    transition: top .25s ease;
    position: absolute;
    top: -50%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 75%;
    margin: auto;
    background: #2b2b2b;
    border-radius: 9px;
    padding: 20px 20px 20px 20px;
    height: fit-content;
    min-height: 40px;
    max-width: 500px;
    overflow: hidden;
    font-family: 'San Francisco', 'Helvetica Neue', 'Lucida Grande', sans-serif;
    font-size: 14px;
    font-weight: bolder;
    color: #b7b7b7;
}

#_autoupdate_alert_btnClose {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
}

#_autoupdate_alert_btnClose:after,
#_autoupdate_alert_btnClose:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 1.5em;
    background: #b7b7b7;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: -3px 0 0 -1px;
    top: 0;
}

#_autoupdate_alert_btnClose:hover:after,
#_autoupdate_alert_btnClose:hover:before {
    background: #f0f0f0;
}

#_autoupdate_alert_btnClose:before {
    transform: rotate(-45deg);
}

._autoupdate_modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0,0,0, .7);
    transition: opacity .25s ease;
}

._autoupdate_modal_bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;

    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

._autoupdate_modal_inner {
    transition: top .25s ease;
    position: absolute;
    top: -10%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 75%;
    margin: auto;
    background: #f0f1f2;
    border-radius: 9px;
    padding: 20px 20px 20px 20px;
    height: auto;
    min-height: 350px;
    max-height: 420px;
    max-width: 550px;
    overflow: hidden;
    font-family: 'San Francisco', 'Helvetica Neue', 'Lucida Grande', sans-serif;
    font-size: 13.5px;
    color: #333;
}

#_autoupdate_notes  {
    font-family: 'San Francisco', 'Helvetica Neue', 'Lucida Grande', sans-serif;
    font-size: 13px;
    color: #333 !important;
}
#_autoupdate_notes h1 {
    font-weight: 200;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 0;
}
#_autoupdate_notes h2 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 5px;
}
#_autoupdate_notes h3 {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
#_autoupdate_notes p {
    margin-top: 5px;
    margin-bottom: 10px;
}

#_autoupdate_btnClose {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
}

#_autoupdate_btnClose:after,
#_autoupdate_btnClose:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 1.5em;
    background: #ccc;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: -3px 0 0 -1px;
    top: 0;
}

#_autoupdate_btnClose:hover:after,
#_autoupdate_btnClose:hover:before {
    background: #aaa;
}

#_autoupdate_btnClose:before {
    transform: rotate(-45deg);
}

._autoupdate_btn {
    cursor: pointer;
    background: #27ae60;
    display: inline-block;
    padding: 5px 30px;
    margin: 5px;
    color: #fff;
    border-radius: 4px;
    font-size: 13px;
}

._autoupdate_btn:hover,
._autoupdate_btn:focus {
    background: #2ecc71;
}

._autoupdate_btn:active {
    background: #27ae60;
    box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}

._autoupdate_btn_red {
    background: #2b2b2b;
}

._autoupdate_btn_red:hover,
._autoupdate_btn_red:focus {
    background: #3b3b3b;
}

._autoupdate_btn_red:active {
    background: #2b2b2b;
}

._autoupdate_loader {
    visibility: hidden;
    position: absolute;
    left: 20px;
    bottom: 12px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
    border: 10px solid;
    border-color: rgba(150, 150, 150, 0.25) rgba(150, 150, 150, 0.5) rgba(150, 150, 150, 0.7) rgba(150, 150, 150, 1.0);
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

